body {
    direction:rtl;
    background-color: white;
    font: 12pt/24px Arial, "Palatino Linotype", Rheka, Norasi, FreeSerif, "Times New Roman", Serif;
    margin: 0;
}
h1 {
    display: none;
}
.world {
    border-top: 1px solid transparent;
    padding: 0px;
    margin: auto;
}
ul.oath {
    border-top: 2px solid #dbd5b7;
    border-bottom: 2px solid #dbd5b7;
    background-color: #edebd5;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, #f9f8f2),
        color-stop(0.55, #ebe8da)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #f9f8f2 9%,
        #ebe8da 55%
    );
    width: 100%;
    margin: 2em auto;
    padding: 0;
    list-style-type: lower-greek;
    list-style-position: outside;
    box-shadow: 0 0 15px #ccc;
}
span.blackletter {
    font-size: 250%;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 0 #ccc;
    color: #333;
    line-height: 2em;
    display: block;
}
.oath li {
    color: #222;
    width: 800px;
    margin: auto;
    font-size: 120%;
    border-bottom: 1px solid #ddc;
    padding: 20px 10px;
    text-shadow: -1px -1px 0 white;
}
.oath  li:last-child {
    border-bottom: none;
}
.oath li strong {
    letter-spacing: 0.1em;
}
.oath li span {
    color: #918d7a;
    font-size: 80%;
    text-shadow: none;
}
li span strong {
    font-weight: normal;
    font-style: italic;
}
p {
    line-height: 2em;
    font-size: 110%;
    text-align: center;
}
p.introduction {
    width: 390px;
    font-size: 120%;
    margin: auto;
}
p.epilogue {
    width: 870px;
    margin: 50px auto;
    letter-spacing: 0.1em;
}
p.epilogue strong {
    font-size: 120%;
}
q {
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 120%;
}
q:before {
    content: "«";
}
q:after {
    content: "»";
}
.footer {
    font: 80%/24px "Trebuchet MS", Verdana, Arial, Sans-serif;
    margin: auto;
    text-align: center;
}
a.cc img {
    border: none;
    opacity: 0.7;
}
a.cc:hover img {
    opacity: 1;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.footer ul li {
    display: inline;
    padding: 0 0 0 5px;
    margin: 0;
}
.footer a {
    color: #999;
}
.footer a:hover {
    color: #333;
}
.footer li:after {
    content: "|";
    padding-left: 5px;
    color: #aaa;
}
.footer li:last-child:after {
    content: "";
    padding-left: 0;
}
.selected a {
    text-decoration: none;
}
address {
    display: inline;
}
a.button {
    display: block;
    margin: 5px auto;
    padding: 9px 4px 6px 4px;
    text-align: center;
    height: 28px;
    width: 180px;
    border: 1px solid #858fa6;
    background: #4a5775;
    background: -moz-linear-gradient(top, #606c88, #3f4c6b);
    background: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    color: #eff5ff;
    font-size: 24px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    position: relative;
}
a.button:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
    background: #4a5775;
    background: -moz-linear-gradient(top, #7082aa, #4a5775);
    background: -webkit-gradient(linear, left top, left bottom, from(#7082aa), to(#4a5775));
}
a.button:active {
    top: 1px;
    left: 1px;
}
a.facebook {
    padding-left: 30px;
}
a.facebook span {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url( 'facebook.png' );
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    left: 15px;
}
a.twitter span {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url( 'twitter.png' );
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    left: 15px;
}
div.take {
    text-align: center;
    font-size: 12px;
    margin: 20px;
    color: #333;
}
div.take strong {
    color: black;
}
ul.share {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
ul.share li {
    display: inline;
    margin: 0;
    padding: 0;
}
a.share {
    padding: 5px 7px 5px 25px;
    margin: 5px;
    text-align: center;
    height: 28px;
    width: 180px;
    border: 1px solid #858fa6;
    background: #4a5775;
    background: -moz-linear-gradient(top, #606c88, #3f4c6b);
    background: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    color: #eff5ff;
    font-size: 14px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    position: relative;
}
a.facebook.share span, a.twitter.share span {
    top: 6px;
    left: 4px;
}
